body a{
    color: white;
}
.wrapper{
    color: white;
    max-width: 1440px;
    background: black;
    display: flex;
    flex-direction: column;
}
header{
    max-width: 100%;
    height: 90px;
}
.header_container{
    max-width: 1380px;
    height: 100%;
}
.header_row{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    max-width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Summary{
    max-width: 100%;
    height: 90px;
}
.Contacts{
    max-width: 100%;
    height: 90px;
}
.Skills{
    max-width: 100%;
    height: 90px;
}
.Code{
    max-width: 100%;
    height: 90px;
}
.Education{
    max-width: 100%;
    height: 90px;
}
.Project{
    max-width: 100%;
    height: 90px;
}
.English{
    max-width: 100%;
    height: 90px;
}
footer{
    max-width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}